<h1>Ustvari transakcijo</h1>
<hr class="colorgraph"><br>
<form>
    <input [(ngModel)]="receiverAddress" type="text" class="form-control" name="address"
        placeholder="Naslov prejemnika" required autofocus="" />
    <input [(ngModel)]="amount" type="text" class="form-control" name="amount" placeholder="Količina" required />
    <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Ustvari transakcijo"
        (click)="createTransaction()">Ustvari transakcijo</button>
</form>
<div [ngClass]="classAttr" [innerHtml]="htmlString"></div>